html, body {
  overflow: hidden;
}

#root {
  text-align: center;
  background-color: gray;
}

.light-tile, .dark-tile {
  flex-grow: 1;
}

.light-tile {
  background-color: beige;
  box-shadow: inset 0px 0px 20px gray;
}

.dark-tile {
  background-color: gray;
  box-shadow: inset 0px 0px 100px black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.board {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  border: 2px solid black;
  box-shadow: 0 0 60px black;
}