body {
  overflow: hidden;
  background-color: gray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  width: 100vw;
}

.board {
  position: absolute;
  top: calc(50vh - 50vmin - 0.5vmin);
  left: calc(50vw - 50vmin - 0.5vmin);
  height: 100vmin;
  width: 100vmin;
  display: flex;
  flex-direction: column;
  border: 0.5vmin solid black;
  box-shadow: 0 0 10vmin black;
}

.light-tile, .dark-tile {
  flex-grow: 1;
}

.light-tile {
  background-color: beige;
  box-shadow: inset 0 0 6vmin gray;
}

.dark-tile {
  background-color: rgb(80, 80, 80);
  box-shadow: inset 0 0 6vmin black;
}

.dark-tile-active {
  background-color: lawngreen;
  box-shadow: inset 0 0 6vmin black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.checker-dark, .checker-light {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
}

.checker-light {
  background-color: rgb(210,180,140);
  box-shadow: inset 0 0 3vmin rgb(101, 67, 33), 0 0 1vmin black;
}

.checker-light:hover, checker-light:active {
  box-shadow: inset 0 0 1vmin rgb(101, 67, 33), 0 0 1vmin black;
}

.checker-dark {
  background-color: rgb(101, 67, 33);
  box-shadow: inset 0 0 3vmin rgb(210,180,140), 0 0 1vmin black;
}

.checker-dark:hover, .checker-dark:active {
  box-shadow: inset 0 0 1vmin rgb(210,180,140), 0 0 1vmin black;
}

.royal {
  box-shadow: inset 0 0 3vmin red, 0 0 1vmin black;
}

.royal:hover, .royal:active {
  box-shadow: inset 0 0 2vmin red, 0 0 1vmin black;
}

.subtitles {
  text-align: center;
  position: absolute;
  top: 80vh;
  width: 100vw;
}

.subtitles p {
  font-family: Helvetica;
  font-size: 4vmin;
  color: yellow;
  line-height: 1.5;
  max-width: 100vmin;
  display: inline;
  background-color: rgba(30, 30, 30, 0.9);
  padding-top: 0.3vmin;
  padding-bottom: 0.3vmin;
}
